
<div class="container">

    <div class="jumbotron bg-white">            
                
        <h1 class="display-4 text-primary text-center">
            Henry Hexa
        </h1>                           
                
        <p class="link">                                  
            <a href="#">Versão 4</a>
        </p>                        
                
        <hr class="my-4">     

        <h2 class="display-4 subtitle text-primary text-center">
            Consultando
        </h2>

        <div class="row">        
            
            <div class="col-6">
                
                <form method="POST" action="#">

                    <div class="box shadow">
                    
                        <div class="form-group"> 
                    
                            {if="$msgPis != ''"}
                            <div class="alert {$msgPis[css]}">
                                {$msgPis[message]}
                            </div>
                            {/if}
                                         
                            <label for="" class="label">
                                <i class="fa fa-address-book text-secondary "></i>
                                PIS
                            </label>

                            <input class="form-control" type="text" name="pis" placeholder="Digite o seu numero de PIS" autofocus>
                        </div>                                                   
                    
                        <div class="form-group">
                            <label for="" class="label">
                                <i class="fa fa-archive text-secondary "></i>
                                Selecione o Arquivo de Dados
                            </label>

                            <div class="table-responsive">
                            
                            <table width="100%" class="table table-hover table-bordered ">
                                 <thead class="thead-light">
                                    <tr>
                                        <th>Lista de Arquivos</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {loop="$files"}
                                    <tr>
                                        <td width="80%">{function="WithoutExtension($value)"}</td>                                   
                                        <td class="text-center" width="10%">
                                            <a href="">
                                                <i class="fas fa-search text-success"></i>
                                            </a>
                                        </td>
                                        <td class="text-center" width="10%">
                                            <a href='/delete/{function="WithoutExtension($value)"}'>
                                                <i class="fas fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {/loop}
                                </tbody>                            
                            </table>

                            </div>
                        </div>                   

                    </div>

                </form>

            </div>

            <div class="col-6">

                <form method="POST" action="/upload" enctype="multipart/form-data">

                    <div class="box shadow">
                    
                        {if="$msgFile != ''"}
                        <div class="alert {$msgFile[css]}">
                            {$msgFile[message]}
                        </div>
                        {/if}
                        
                        <p class="label">
                        <i class="fa fa-file text-secondary "></i>
                        Enviando Arquivo de Dados</p>

                        <div class="custom-file">                    
                            <input type="file" class="custom-file-input" id="file" name="file" accept=".txt">
                            <label class="custom-file-label" for="customFile">Clique para enviar o arquivo</label>
                        </div>   

                        <div class="btn-area text-right">
                            <input class="btn btn-primary" type="submit" name="submit" value="Enviar">
                        </div>                                                     

                    </div>
                
                </form>

            </div>

        </div><!-- row -->        

        <hr class="my-4">    

        <p class="text-muted text-center jumbotron-link">
            <em>
                <small>by</small>
                <a href="#">Sidnei</a>
                <small> &#169 05-2019</small>
            </em>
        </p>

    </div><!--jumbotron -->
</div>