
<div class="container">
    <div class="jumbotron bg-white">            
                
        <h1 class="display-4 text-primary text-center">
            Henry Hexa
        </h1>                           
                
        <p class="info">                                  
            <a href="#">Versão 4</a>
        </p>                        
                
        <hr class="my-4">     

        <h2 class="display-4 title text-primary text-center">
            Consultando
        </h2>

        <div class="row">        
            
            <div class="col-6">
                
                <form method="POST" action="#">

                    <div class="form-group">              
                        <label for="" class="label">PIS</label>
                        <input class="form-control" type="text" name="pis" placeholder="Digite o seu numero de PIS" autofocus>
                    </div>                                                   
                
                    <div class="form-group">
                        <label for="" class="label">Selecione o Arquivo de Dados</label>
                        <select class="custom-select" size="5" name="arquivo">
                            <option value="">Arquivo de dados</option>
                            <option value="">Arquivo de dados</option>
                            <option value="">Arquivo de dados</option>
                            <option value="">Arquivo de dados</option>
                            <option value="">Arquivo de dados</option>
                        </select>
                    </div>                   

                    <div class="btn-area text-right">
                        <input class="btn btn-primary" type="submit" name="submit" value="Pesquisar">
                    </div>

                </form>

            </div>

            <div class="col-6">

                <form method="POST" action="#" enctype="multipart/form-data">
                    
                    <p class="label">Enviando Arquivo de Dados</p>

                    <div class="custom-file">                    
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Clique para enviar o arquivo</label>
                    </div>   

                    <div class="btn-area text-right">
                        <input class="btn btn-primary" type="submit" name="submit" value="Enviar">
                    </div>                                                     
                
                </form>

            </div>

        </div><!-- row -->        

        <hr class="my-4">    

        <p class="text-muted text-center jumbotron-link">
            <em>
                <small>by</small>
                <a href="#">Sidnei</a>
                <small> &#169 05-2019</small>
            </em>
        </p>

    </div><!--jumbotron -->
</div>