* {
	font-family: 'Open Sans', sans-serif;
}

/* Ambiente */

.container{
	margin: 2rem auto;
}

.jumbotron{
	border: 0.2rem solid #002e4d;
	padding-top: 2rem;
	padding-bottom: 0px;
}

.jumbotron-link{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.link{
	font-color: #FAFAFA;
	font-size: 0.9rem;
	text-align: center;
}

.subtitle{
	font-size: 2rem;	
	width: 33.333%;	
	margin: auto auto;	
	margin-bottom: 2rem;	
}

/* Area de trabalho */

.frame{
	border: 1px solid #DCDCDC;
	padding: 1rem 1rem;
}

.label{
	font-weight: bold;	
	border-left: 0.3rem solid red;	
	border-radius: 5px;
	padding-left: 0.5rem;
	background-color: #F0F0F0;
	display: block;
	padding: 0.8rem 0.5rem;
	text-transform: uppercase;	
}

.box-files{		
	height: 20rem;
}

.custom-file{
	margin-bottom: 1rem;
}